<!DOCTYPE html>
<html>
    <head>
        <link rel="manifest" href="/manifest.json">
    </head>
    <body>


<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Opened the first ‘Foodie Delight’ Restaurant in Mumbai, India on September 27, 1977. Today, there are 37 areas all through India.
    </p>
    <p>
        Foodie Delight Restaurants are well known with a substantial gathering of people including families, kids, seniors, and business experts. Our benevolent condition is perfect for praising unique events, facilitating a business lunch, or assembling for a flavorful dinner with loved ones.
    </p>
    <p>
        Open day by day for lunch and dinner,offers a choice of naturally arranged things utilizing just the best fixings accessible.
    </p><br><br>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>
</body>
</html>