<html>
  <head>
    <link rel="manifest" href="/manifest.json">
  </head>
<body>

    <!-- Header -->
    <div class="header">
      <h1>Our Specialities</h1>
    </div>
    
    <!-- Photo Grid -->
    <div class="row"> 
      <div class="column">
        <img src="../../assets/burger.jpg" style="width:100%">
        <img src="../../assets/pasta.jpg" style="width:100%">
        <img src="../../assets/chole.jpg" style="width:100%">
        
       
      </div>
      <div class="column">
        <img src="../../assets/pakoda.jpg" style="width:100%">
        <img src="../../assets/pav.jpg" style="width:100%">
        <img src="../../assets/noodles.jpg" style="width:100%">
       
      </div>  
      <div class="column">
        <img src="../../assets/ice.jpg" style="width:100%">
        <img src="../../assets/paneer.jpg" style="width:100%">
        <img src="../../assets/pancake.jpg" style="width:100%">
      
      </div>
      <div class="column">
        <img src="../../assets/fruit.jpg" style="width:100%">
        <img src="../../assets/sabzi.jpg" style="width:100%">
        <img src="../../assets/momo.jpg" style="width:100%">
      </div>
    </div>
    
    </body>
    </html>
    